/screenshots/profile.png
/screenshots/google.png
/screenshots/profile-edit.png
/screenshots/buttons.png
/screenshots/admin.png
/screenshots/facebook.png
/screenshots/twitter.png
/screenshots/pinboard.png